.easy_image_insert .easy_image_insert_select {
	display: block;
	width: 150px;
}

.easy_image_insert span.path, .easy_image_insert span.filename {
	display: none;
}

body form#node-form .easy_image_insert a {
	display: block;
	margin-top: 2px;
	padding: 2px;
	text-align: center;	
	color: white;
	font-family: monospace;
	font-size: 1.2em;	
	background: #BA154D;
}

body form#node-form .easy_image_insert a:hover {
	color: black;
	text-decoration: none;
	background: #FFC2D6;
}

